ul.menu
  li
    .menu-group Decode
  li
    a(href='base32_decode.html') Base32
  li
    a(href='base32_decode_file.html') Base32 File
  li
    a(href='base64_decode.html') Base64
  li
    a(href='base64_decode_file.html') Base64 File
  li
    a(href='html_decode.html') HTML
  li
    a(href='url_decode.html') URL
