ul.menu
  li
    .menu-group Encode
  li
    a(href='base32_encode.html') Base32
  li
    a(href='base32_encode_file.html') Base32 File
  li
    a(href='base64_encode.html') Base64
  li
    a(href='base64_encode_file.html') Base64 File
  li
    a(href='html_encode.html') HTML
  li
    a(href='url_encode.html') URL
