ul.menu
  li
    .menu-group Encode / Decode
  li
    a(href='base32_encode.html') Base32 Encode
  li
    a(href='base32_decode.html') Base32 Decode
  li
    a(href='base64_encode.html') Base64 Encode
  li
    a(href='base64_decode.html') Base64 Decode
  li
    a(href='html_encode.html') HTML Encode
  li
    a(href='html_decode.html') HTML Decode
  li
    a(href='url_encode.html') URL Encode
  li
    a(href='url_decode.html') URL Decode
