ul.menu
  li
    .menu-group File Hash
  li
    a(href='crc16_checksum.html') CRC-16
  li
    a(href='crc32_checksum.html') CRC-32
  li
    a(href='md2_file_hash.html') MD2
  li
    a(href='md4_file_hash.html') MD4
  li
    a(href='md5_checksum.html') MD5
  li
    a(href='sha1_checksum.html') SHA1
  li
    a(href='sha224_checksum.html') SHA224
  li
    a(href='sha256_checksum.html') SHA256
  li
    a(href='sha384_file_hash.html') SHA384
  li
    a(href='sha512_file_hash.html') SHA512
  li
    a(href='sha512_224_file_hash.html') SHA512/224
  li
    a(href='sha512_256_file_hash.html') SHA512/256
  li
    a(href='sha3_224_checksum.html') SHA3-224
  li
    a(href='sha3_256_checksum.html') SHA3-256
  li
    a(href='sha3_384_checksum.html') SHA3-384
  li
    a(href='sha3_512_checksum.html') SHA3-512
  li
    a(href='keccak_224_checksum.html') Keccak-224
  li
    a(href='keccak_256_checksum.html') Keccak-256
  li
    a(href='keccak_384_checksum.html') Keccak-384
  li
    a(href='keccak_512_checksum.html') Keccak-512
  li
    a(href='shake_128_checksum.html') Shake-128
  li
    a(href='shake_256_checksum.html') Shake-256
