ul.menu
  li
    .menu-group Hash
  li
    a(href='crc16.html') CRC-16
  li
    a(href='crc32.html') CRC-32
  li
    a(href='md2.html') MD2
  li
    a(href='md4.html') MD4  
  li
    a(href='md5.html') MD5
  li
    a(href='sha1.html') SHA1
  li
    a(href='sha224.html') SHA224
  li
    a(href='sha256.html') SHA256
  li
    a(href='sha384.html') SHA384
  li
    a(href='sha512.html') SHA512
  li
    a(href='sha512_224.html') SHA512/224
  li
    a(href='sha512_256.html') SHA512/256
  li
    a(href='sha3_224.html') SHA3-224
  li
    a(href='sha3_256.html') SHA3-256
  li
    a(href='sha3_384.html') SHA3-384
  li
    a(href='sha3_512.html') SHA3-512
  li
    a(href='keccak_224.html') Keccak-224
  li
    a(href='keccak_256.html') Keccak-256
  li
    a(href='keccak_384.html') Keccak-384
  li
    a(href='keccak_512.html') Keccak-512
  li
    a(href='shake_128.html') Shake-128
  li
    a(href='shake_256.html') Shake-256
