extends layout

block body
  #index
    include includes/hash.jade
    include includes/file_hash.jade
    include includes/encoder.jade
    include includes/decoder.jade
    include includes/misc.jade
  != page.html
