extends layout

block body
  #index
    include includes/hash.pug
    include includes/file_hash.pug
    include includes/encoder.pug
    include includes/decoder.pug
    include includes/misc.pug
  != page.html
