doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    meta(name='description', content=page.metadata.description)
    title
      = page.title == locals.name ? locals.name : page.title + ' Online'
    script.
      if (location.hostname != 'localhost') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-44208259-6', 'auto');
        ga('send', 'pageview');
      }
    link(rel='stylesheet', href='css/style.css')
    script(src='https://code.jquery.com/jquery-1.10.1.min.js')
  body
    #header
      h1
        a(href='index.html')
            = locals.name
    #body
      block body
        != page.html
    #footer
      | &copy; 2015-2017 Online Tools
